<div class="pure-g main">
	<div id="mission" class="pure-u-1">
	  <h1 class="mission-statement">
		  Founders exposes students to <br>
		  entrepreneurship and fosters a growing <br>
		  Illinois entrepreneurial community.
	  </h1>
	</div>
	<div class="divider"></div>
	<div id="about" class="pure-u-1">
		<h2>About Founders</h2>
		<p>Founders is the new student entrepreneurship organization at the <a target="_blank" href="http://illinois.edu">University of Illinois</a>. In past years, entrepreneurial efforts on campus have been disconnected and scattered. Founders unifies the lost organizations across campus. We have strong ties with the <a target="_blank" href="http://tec.illinois.edu">Technology Entrepreneur Center</a> to ensure a cohesive entrepreneurial experience.</p>
		<p>We want our members to succeed. In order for that to happen, we must have a strong culture and environment that educates, inspires, and motivates the right people forward. We are interdisciplinary, open minded, and innovative.</p>
		<p>Everything we do is for a purpose and everything we do affects our lives and the lives of others. We will build recognition for the Illinois entrepreneurship community. We will build the foundation for innovation.</p>
	</div>
	<div class="divider"></div>
	<div id="events" class="pure-u-1">
		<h2>Events</h2>
		<div class="pure-g-r">
			<div class="pure-u-1-2" style="text-align:center;">
				<a href="http://www.54.io" target="_blank" class="img-link">
				<img src="/img/54_dark.png" width="250" alt="">
				</a>
			</div>
			<div class="pure-u-1-2" style="text-align:center;">
				<h1 style="font-size:80px; margin:0;"><span>$10</span> <br>Challenge</h1>
				<h2>(coming soon)</h2>
			</div>
		</div>
	</div>
</div>
<div class="image-back-1">
	<div id="people" class="pure-u-1 main">
		<h2>People</h2>
		<div class="pure-g-r center">
			<div class="pure-u-1-5">
				<img class="circle" src="/img/jay.jpg" alt="">
				<h3>Jay Bensal</h3>
				<h4>Project Director <br> 54</h4>
				<a href="mailto:bensal2@illinois.edu">email</a>
			</div>
			<div class="pure-u-1-5">
				<img class="circle" src="/img/ben.jpg" alt="">
				<h3>Ben Ng</h3>
				<h4>VP Finance</h4>
				<a href="mailto:kbng2@illinois.edu">email</a>
			</div>
			<div class="pure-u-1-5">
				<img class="circle" src="/img/eric.jpg" alt="">
				<h3>Eric Mills</h3>
				<h4>President</h4>
				<a href="mailto:mills16@illinois.edu">email</a>
			</div>
			<div class="pure-u-1-5">
				<img class="circle" src="/img/sean.jpg" alt="">
				<h3>Sean Abraham</h3>
				<h4>VP External</h4>
				<a href="mailto:abraha17@illinois.edu">email</a>
			</div>
			<div class="pure-u-1-5">
				<img class="circle" src="/img/nikhil.jpg" alt="">
				<h3>Nikhil Kapur</h3>
				<h4>Project Director <br> $10 Campaign</h4>
				<a href="mailto:kapur8@illinois.edu">email</a>
			</div>
		</div>
	</div>
</div>
<div class="white-back">
	<div id="sponsors" class="pure-u-1 center">
		<h2>Sponsors</h2>
		<img src="/img/tec_0.jpg" width="300" alt="TEC">
		<br>
		<!-- <img src="/img/neustar.svg" width="300" alt="Neustar"> -->
		<h3>Want to become a sponsor? Email <a href="mailto:mills16@illinois.edu">Eric Mills</a>.</h3>
	</div>

	<div id="join" class="pure-u-1 center">
		<h2>Join</h2>
		<h3>Join us on Facebook</h3>
		<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fillinoisfounders&amp;width=200&amp;height=50&amp;colorscheme=light&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;send=true&amp;appId=135502986597453" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:200px; height:50px;" allowTransparency="true"></iframe>
		<a target="_blank" href="https://www.facebook.com/illinoisfounders" class="img-link" style="position:relative; top:-10px;"><img src="http://savewaveenergy.com/wp-content/uploads/2013/08/500px-Facebook_icon_2013.svg_.png" width="50" height="50" alt="facebook"></a>
		<!-- Begin MailChimp Signup Form -->
		<h3>Sign up for the Mailing List</h3>
		<div id="mc_embed_signup">
		<form action="http://founders.us7.list-manage.com/subscribe/post?u=f98b856df3d8c3e75f78ac4d4&amp;id=d32e424b3b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

		<div class="mc-field-group">
			<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
		</div>
		<div class="mc-field-group">
			<input type="text" value="" name="FNAME" class="required" id="mce-FNAME" placeholder="First Name">
		</div>
		<div class="mc-field-group">
			<input type="text" value="" name="LNAME" class="required" id="mce-LNAME" placeholder="Last Name">
		</div>
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
		</form>
		</div>
		<!--End mc_embed_signup-->
	</div>
	<footer class="pure-u-1 center">
	<img class="flex-img" src="/img/logo_color.png" alt="Founders">
	</footer>
</div>
