<div class="pure-g main">
	<div id="mission" class="pure-u-1">
	  <h1 class="mission-statement">
		  Founders exposes students to <br>
		  entrepreneurship and fosters a growing <br>
		  Illinois entrepreneurial community.
	  </h1>
	</div>
	<div class="divider"></div>
	<div id="events" class="pure-u-1">
		<h2>Events</h2>
		<div class="pure-g-r">
			<div class="pure-u-1-2">
				<a href="http://www.54.io">
				<img src="/img/54_1_trans.png" width="300" alt="">
				</a>
			</div>
			<div class="pure-u-1-2">
				<h1>$10 Campaign</h1>
			</div>
		</div>
	</div>

	<div id="people" class="pure-u-1">
		<h2>People</h2>
		<div class="pure-g-r center">
			<div class="pure-u-1-5">
				<h3>Sean Abraham</h3>
				<h4>VP External</h4>
				<a href="mailto:abraha17@illinois.edu">email</a>
			</div>
			<div class="pure-u-1-5">
				<h3>Jay Bensal</h3>
				<h4>Project Director <br> 54</h4>
				<a href="mailto:bensal2@illinois.edu">email</a>
			</div>
			<div class="pure-u-1-5">
				<h3>Nikhil Kapur</h3>
				<h4>Project Director <br> $10 Campaign</h4>
				<a href="mailto:kapur8@illinois.edu">email</a>
			</div>
			<div class="pure-u-1-5">
				<h3>Eric Mills</h3>
				<h4>President</h4>
				<a href="mailto:mills16@illinois.edu">email</a>
			</div>
			<div class="pure-u-1-5">
				<h3>Ben Ng</h3>
				<h4>VP Finance</h4>
				<a href="mailto:kbng2@illinois.edu">email</a>
			</div>
		</div>
	</div>

	<div id="sponsors" class="pure-u-1 center">
		<h2>Sponsors</h2>
		<img src="/img/tec.jpg" height="200" alt="TEC">
		<img src="/img/neustar.jpg" height="200" alt="Neustar">
		<h3>Want to become a sponsor? Email <a href="mailto:mills16@illinois.edu">Eric Mills</a>.</h3>
	</div>

	<div id="join" class="pure-u-1 center">
		<h2>Join</h2>
	</div>
</div>
