body {
  margin: 0;
  padding-bottom: 40px;
  background: url('../img/tweed.png');
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  font-weight: 400;
  color: white;
}

a:link, a:visited {
  color: #ddd;
  text-decoration: none;
  border-bottom: 1px dotted #ddd;
}

a:hover, a:active {
  color: #ff8000;
  border-bottom: 1px solid #ff8000;
}

.main {
  max-width: 960px;
  margin: 0 auto;
}

.logo {
  max-width: 744px !important;
}

.splash {
  background: url('../img/school.jpg') no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  padding: 40px;
}

.mission-statement {
  text-align: center;
  font-size: 2.5em;
  color: white;
  background: url('../img/sym_white.png') no-repeat center center;
  padding: 70px 0 70px 0;
}

.divider {
  border-bottom: 1px solid #999;
  padding: 5px 0;
}

h2 {
  text-align: center;
  color: #999;
  font-size: 2.5em;
}

.navbar {
  width: 100%;
}

.nav {
  background: #ff8000;
  text-align: center;
  margin: 0;
  padding: 0;

  -moz-box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
  -webkit-box-shadow:0 0 5px 5px rgba(0,0,0,0.1);
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
}

.nav li {
  display: inline-block;
}

.nav li a {
  padding: 20px;
  display: block;
  color: white;
  text-decoration: none;
  border: none;
}

.nav li a:hover {
  background-color: #c86c0c;
  -moz-box-shadow: inset 0 0 5px 2px #b65c09;
  -webkit-box-shadow: inset 0 0 5px 2px #b65c09;
  box-shadow: inset 0 0 5px 2px #b65c09;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.center {
  text-align: center;
}

#sponsors {
}

@media (max-width:480px) {
  .hero-unit .pull-right {
    float: none;
    margin-top: 10px;
  }
}

